#admin-nav,#admin-nav ul,#admin-nav li,#admin-nav a {
	list-style: none;
	display: block;
	margin: 0;
	padding: 0;
	z-index: 48;
	font: small-caps 8pt Arial, Helvetica, sans-serif;
}

#admin-nav {
background:#ebe2d2;
border-bottom:1px solid #a3a3a3;
position:fixed;
top:0;
left:0;
width:100%;
margin:0 0 0;
}

#admin-nav li {
float:left;
border-right:1px solid #a3a3a3;
}

#admin-nav a {
width:100px;
background:#ebe2d2;
color:#000;
padding:2px 5px;
}

#admin-nav a:hover {
background:#f6f1e6;
}

#admin-nav li.leaf {
background:#ebe2d2;
padding-right: 20px;
}

#admin-nav li.expanded {
	background: #ebe2d2 url(arrow_right.png) no-repeat 110px;
	padding-right: 20px;
}

#admin-nav li ul {
position:absolute;
width:130px;
_margin-left:-20px;
border:1px solid #a3a3a3;
left:9999px;
z-index:24;
}

#admin-nav li ul ul {
margin:-15px 0 0 95px;
}

#admin-nav li:hover ul ul,#admin-nav li:hover ul ul ul,#admin-nav li.sfhover ul ul,#admin-nav li.sfhover ul ul ul {
left:9999px;
}

#admin-nav li:hover ul,#admin-nav li li:hover ul,#admin-nav li li li:hover ul,#admin-nav li.sfhover ul,#admin-nav li li.sfhover ul,#admin-nav li li li.sfhover ul {
left:auto;
}

div.messages {
background:#ACCD93;
border:1px solid #458F18;
color:#278003;
padding:0.2em 0.5em;
margin:0.5em 0;
font-weight:bold;
}